<% include ./partials/header.ejs %>

<div class="container">
	<div class="jumbotron text-center">
		<h1><%= snap.title %></h1>
		<p><a href="/snaps">Go back</a></p>
	</div>
	<div class="row justify-content-center">
		<div class="col-9">
			<img src="<%= snap.imgurl %>" class="w-100" alt="<%= snap.title%>">
			<div class="w-100 mt-1 banner32">
				<form action="/snaps/<%= snap.id %>?_method=DELETE" method="post">
					<button class="btn btn-sm btn-danger float-right btn-wider-sm"><%- octicons.trashcan.toSVG({"fill":"white"}) %></button>
				</form>
	
			</div>
			
			<div class="text-center m-3">
				<p class="w-100"><strong>100</strong></p>
				<form action="" method="post">
					<div class="btn-group" role="group">
						<button type="submit" name="rating" class="btn btn-success btn-wider-lg" value="plus">
							<%- octicons['arrow-up'].toSVG({"fill":"darkgreen", "width":"32px"}) %>
						</button>
						<button type="submit" name="rating" class="btn btn-danger btn-wider-lg" value="min">
							<%- octicons['arrow-down'].toSVG({"fill":"darkred", "width":"32px"}) %>
						</button>
					</div>
				</form>
				
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer.ejs %>