<% include ../partials/header.ejs %>

<div class="container-fluid-p-0">
	<div class="jumbotron text-center">
		<h1>User profile of <%= user.username %></h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12 col-md-4 col-lg-3">
			<div class="mb-5">
				<img src="<%= user.avatar %>" class="user-image">
			</div>
			<% if (currentUser && user._id.equals(currentUser.id)) { %>
				<a href="/users/<%= user.id %>/edit" class="btn btn-warning w-100 mb-1">
					<%- octicons.pencil.toSVG({}) %>
					<span class="ml-1">Edit your profile</span>
				</a>

				<form action="/users/<%= user.id %>?_method=DELETE" method="post">
					<button class="btn btn-danger w-100 mb-5" id="delete">
						<%- octicons.trashcan.toSVG({"class":"octi-sm"}) %>
						<span class="ml-1">Delete your account</span>
					</button>
				</form>
			<% } %>
		</div>
		<div class="col-12 col-md-8 col-lg-9">
			<h2 class="mb-5"><strong><%= user.username %></strong></h2>
			<h4>About <%= user.username %></h4>
			<p>
				<% if (!user.description) { %>
					Hello, i'm <%= user.username %>.
				<% } %>
				<%= user.description %>
			</p>
			<h4>Recent Snaps</h4>
			<div class="container">
					<div class="row align-items-center">
						<% snaps.forEach(function(snap) { %>
							<div class="col-6 col-lg-3 p-0">
								<div class="el-container">
									<a href="/snaps/<%= snap.id %>">
										<img src="<%= snap.imgurl %>" class="snap" alt="<%= snap.title %>">
										<div class="label">
											<div class="btn btn-primary">
												Go to Snap
											</div>
										</div>
									</a>
								</div>
							</div>
						<% }) %>
					</div>
				</div>
		
		</div>
	</div>
</div>

<% include ../partials/footer.ejs %>